.header{
  height: 200px;
  width: 100%;
  background-color: aqua;
   padding-top: 50px;
 
 
 }
 body { 
 
   background: url("https://images.unsplash.com/photo-1663074142906-b1779734341e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNzd8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
   background-size: cover;
   font-family: sans-serif;
   color:aliceblue;
 }